.background{
  background-image: url('../images/map_cleaned.svg');
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-color: #E0E0E0;
}

.App{
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(0px);
}

.menu{
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 32px 64px 32px;
  gap: 32px;
  border-radius: 32px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.full-menu{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 32px 64px 32px;
  gap: 32px;
  border-radius: 32px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.menu-title{
  font-size: 5em !important;
  font-family: "Luckiest Guy", cursive;
  color: #4D7B5F
}

.outlined{
  border: #e1e1e1 1px solid;
  border-radius: 32px;
}