.arrow{
    height: 16px;
    width: auto;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.attack_buttons{
    display: flex;
    justify-content: center;
}

.ends_attack_button{
    margin-top: 16px !important;
    flex-grow: 1;
}

.margin_right{
    margin-right: 16px !important;
}