.controlPanel{
    max-width: 350px;
    padding: 8px !important;
    width: 300px;
    min-width: 200px;
    overflow-y: auto !important;
    align-items: stretch !important;;
}

.player_list{
    padding: 0 !important;
}

.avatar{ 
    width: 20px !important;
    height: 20px !important;
}

.list_item2{
    padding: 0 6px !important;
    border-radius: 16px !important;
    height: 32px;
}

.control_panel_divider{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.control_panel_divider_bottom{
    margin-top: 16px !important;
    margin-bottom: 8px !important;
}

.player_lable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.paragraph_margin{
    margin-top: 8px !important;
}

.action_panel_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px !important;
}

.action_panel_title .MediumEmphasis{
    margin-right: 8px;
}

.controlPanelHeading{
    display: flex;
    justify-content: space-between;
}

.cardsIcon{
    height: 1.5rem;
    width: auto;
}

.playerInfo{
    display: inline-flex;
    align-items: center;
}

.surrender_button{
    margin-right: 16px !important;
}