@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1{
    color: #4D7B5F;
    margin-bottom: 0;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    justify-content: center;
}

.home-picture{
    height: 100px;
    width: 100px;
}

.home-button{
    width: 200px;
    min-width: 120px;
}

.MediumEmphasis{
    opacity: 0.6;
}

.form-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 16px;
}

.form-buttons-central{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
}

.form-button{
    min-width: 100px !important;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    height: 100px;
    width: 100%;
    padding-top: 8px;
}

.form-overflow{
    overflow-y: auto;
}

.form-input{
    width: 100%;
}

.form-message{
    width: 268px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 300px;
    gap: 16px;
}