.match-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 8px;
}

.match-preview{
    display: flex;
    padding-right: 16px;
}

.matchLabel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matchName{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.match-data{
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 16px;
}

.user-data{
    display: flex;
    align-items: center;
    gap: 4px;
}

.publicMatch{
    visibility:visible;
}

.icon{
    opacity: 0.66;
}

.placeholder-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b4b4b4;
    height: 100%;
    width: 100%;
}

.placeholder-picture{
    height: 150px;
    width: 150px;
}

a{
    color: #a1a1a1;
}

p{
    text-align: left;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 16px;
    background-color: #e8e8e8;
}