@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-buttons{
    display: flex;
    justify-content: end;
    gap: 16px;
}

.login-button{
    width: 100px;
}

.forgot-password{
    margin-top: -12px !important;
    text-align: right;
}