.player-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 300px;
    flex-grow: 1;
}

.player_item{
    display: flex;
    gap: 16px;
    align-items: flex-start;
    padding: 4px;
}

.player_item_placeholder{
    background-color: #f5f5f5;
    border-radius: 32px;
    padding: 4px;
    height: 24px;
}

.title{
    margin-top: 0 !important;
}